body {
	font-family: "Lucida Console", "Courier New", monospace;
  color: ivory;
  background-color: slategrey;
}

a{
  color: lightcyan;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.card {
  background-color: lightslategrey;
  border-radius: 1em;
  border-color: ivory;
}

.card-img-top{
  border-radius: 1em 1em 0 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header{
  margin: 10px;
  font-weight: bold;
}

.nav-link{
  color: ivory;
}